.button {
  background: transparent;
  color: black;
  padding: 12px 40px 12px 40px;
  border-radius: 32px;
  border: 2px solid black;
  transition: 0.3s;
}

.button:hover {
  background: black;
  color: white;
}
