.button {
  background: transparent;
  color: black;
  padding: 12px 40px 12px 40px;
  border-radius: 32px;
  border: 2px solid black;
  transition: 0.3s;
}

.brand {
  background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.button:hover {
  background: black;
  color: white;
}
