.skillsRow {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

@media only screen and (max-width: 600px) {
  .skillsRow {
    grid-template-columns: 1fr;
  }
}
