.aboutFlex {
  display: flex;
  gap: 32px;
}

.aboutRight {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rexImg {
  width: auto;
  height: auto;
  max-width: 320px;
  max-height: 320px;
}

.aboutFlex a {
  font-weight: 600;
}

.list {
  padding-left: 20px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .aboutFlex {
    flex-direction: column;
  }

  .aboutRight {
    align-items: center;
  }

  .rexImg {
    max-width: 230px;
    max-height: 230px;
  }
}
